<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/farmie/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Mar 2021 17:16:14 GMT -->
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan - Farm Services &amp; Organic Food Store Template | About</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

 <div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div> 

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
    <div class="top-header-meta text-right">
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">[email&#160;protected]</span></span></a>
        <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
        </div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="famie-main-menu">
<div class="classy-nav-container breakpoint-off">
<div class="container">

  <nav class="classy-navbar justify-content-between" id="famieNav">

    <a href="/" class="nav-brand"><img src="img/core-img/krishi.jpeg" alt=""></a>
    
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    
    <div class="classy-menu">
    
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
    <div class="classynav">
      <ul>
      <li class="active"><a href="/">Home</a></li>
      <li><a href="#">Lab Details</a></li>
      <li><a href="#">Crop Recommendation</a></li>
      <li><a href="#">Agro Insurance </a></li>
      <li><a href="#">Transportation</a></li>
      <li><a href="#">Govt schemes</a></li>
      <li><a href="#">About us </a></li>
      </ul>
      
      
      <div id="searchIcon">
      <i class="icon_search" aria-hidden="true"></i>
      </div>
      
      <div id="cartIcon">
      <a href="#">
      <i class="icon_cart_alt" aria-hidden="true"></i>
      </a>
      </div>
      <div id="logoutIcon"> 
        <a href="#">
          <i class="fa fa-user fa-2x" aria-hidden="true"> </i>
        </a>
      </div>
     
      </div>
      
    </div>
    </nav>
    

<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>
        

<div class="hero-area">
    <div class="welcome-slides owl-carousel">
    
    <div class="single-welcome-slides bg-img bg-overlay jarallax" style="background-image: url(https://images.unsplash.com/photo-1522120679444-b967faef8c38?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);">
    <div class="container h-100">
    <div class="row h-100 align-items-top">
    <div class="col-12 col-lg-10">
    <div class="welcome mt-5">
    <h2 data-animation="fadeInUp" data-delay="200ms">LOGIN</h2>
    <a href="/logs" class="logbtn famie-btn mt-4" data-animation="bounceInUp" data-delay="600ms">Seller</a>
    <a href="/logc" class="logbtn famie-btn mt-4" data-animation="bounceInDown" data-delay="600ms">Consumer</a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>

    <script src="js/jquery.min.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/classynav.js"></script>

<script src="js/wow.min.js"></script>

<script src="js/jquery.sticky.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>

<script src="js/jquery.scrollup.min.js"></script>

<script src="js/jarallax.min.js"></script>

<script src="js/jarallax-video.min.js"></script>

<script src="js/active.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>
</html>