<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan - Farm Services &amp; Organic Food Store Template | News</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
  <div class="top-header-meta text-right">
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="krishivyahan@test.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">krishivyahan@test.com</span></span></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!----------------------- NAVBAR -------------------------->

<%-include('./partials/navbar.ejs')%>

<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter..." required>
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>


<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/Crop_recommendation.jpg');">
    <div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-12">
    <div class="breadcrumb-text">
    <h2>Crop Recommendation</h2>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="famie-breadcrumb">
    <div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> <a href="/cropr">Crop Search</a></li>
    </ol>
    </nav>
    </div>
</div>


<div class="container mt-3 p-0 mb-5">
    <div class="row gutters">
        <div class="col-lg-12">
            <div class="card p-4 mt-3">
                
<div class="row">
    <div class="col-6">
        <h3 style="text-align: center;">Do You Want To Analyse Your Crop?</h3>
        <p style="text-align: center;">Click on the card mentioned below</p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./img/bg-img/Gardening-bro.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>ANALYSE</h1> 
                <p style="margin-top: 80px;">This features basically help you to analyse which crop is best suitable for you by based on what parameters you enter into it</p>
    <a href="/cropa" id="cropbtn" class="btn famie-btn">CROP ANALYSIS</a>

            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
        <h3 style="text-align: center;">Do You Want To Predict Your Crop?</h3>
        <p style="text-align: center;">Click on the card mentioned below</p>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./img/bg-img/Gardening-cuate.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>PREDICT</h1> 
              <p style="margin-top: 80px;">This feature basically predict you from the given table that which crop is best suitable for you to grow</p>
    <a href="/cropr" id="cropbtn" class="btn famie-btn">CROP PREDICTION</a>
              

            </div>
          </div>
        </div>
    </div>
</div>                      
                                
                <div class="row mt-4 g-1 px-4 my-5 flex">
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn3.iconfinder.com/data/icons/agriculture-outline/160/wheat-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Wheat</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn4.iconfinder.com/data/icons/nuts-14/64/kidney_beans-bean-food_and_restaurant-gastronomy-vegan-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Kidney beans</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn3.iconfinder.com/data/icons/food-set-2-1/91/Food_C167-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Rice</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn2.iconfinder.com/data/icons/fruit-and-vegetable-64/340/corn_food_agriculture_maize_vegetable_grain-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Maize</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn4.iconfinder.com/data/icons/fruits-79/48/04-apple-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Apple</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn3.iconfinder.com/data/icons/food-ingredients-2/50/164-128.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Grapes</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    


<!---------------- FOOTER ------------------>
<%-include('./partials/footer.ejs')%>


<!------------------ HERE I LINKED JAVASCRIPT LINKS  ------------>
<%-include('./partials/javascript-links.ejs')%>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>