<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan- Farm Services &amp; Organic Food Store Template | News</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
  <div class="top-header-meta text-right">
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">[email&#160;protected]</span></span></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

<%-include('./partials/navbar.ejs')%>
    
<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter..." required>
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>


<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/govtschemes-2.jpg');">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="breadcrumb-text">
<h2>Government Schemes</h2>
</div>
</div>
</div>
</div>
</div>
<div class="famie-breadcrumb">
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
<li class="breadcrumb-item active" aria-current="page"> <a href="#">Schemes</a></li>
</ol>
</nav>
</div>
</div>


<section class="famie-blog-area">
<div class="container">
<div class="row">

<div class="col-12 col-md-8">
<div class="posts-area">

<div class="single-blog-post-area mb-50 wow fadeInUp" data-wow-delay="100ms">
<h6>Post on <a href="#" class="post-date">18 Dec 2021</a> / <a href="#" class="post-author">Peter Crough</a></h6> 
<a href="#" class="post-title"> Government added 4 new schemes for farmers in 2021</a>
<iframe width="650" height="315" src="https://www.youtube.com/embed/kS18B6vxsq0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="post-excerpt">
Our Central Government Introduced 4 Schemes In 2021 And Will Introduce More For Public Welfare in 2022........
</p>
</div>

<div class="single-blog-post-area mb-50 wow fadeInUp" data-wow-delay="300ms">
<h6>Post on <a href="#" class="post-date">18 Dec 2021</a> / <a href="#" class="post-author">Peter Crough</a></h6>
<a href="#" class="post-title">Why innovation is key to maintaining our export market share</a>
<iframe width="650" height="315" src="https://www.youtube.com/embed/41Hc6TOKvWs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p class="post-excerpt">
5 Best Schmes Introduced By Indian Govt Is Explained By Our Ownerable Prime Minister......
</p>
</div>
</div>
</div>

<div class="col-12 col-md-4">
<div class="sidebar-area">

<div class="single-widget-area">
<form action="#" method="post" class="search-widget-form">
<input type="search" class="form-control" placeholder="Search">
<button type="submit"><i class="icon_search" aria-hidden="true"></i></button>
</form>
</div>

<div class="single-widget-area">

<h5 class="widget-title">Recent News</h5>

<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/30.jpg" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">US milk production continues its upward trajectory for 2018</a>
<div class="post-date">20 Dec 2021</div>
</div>
</div>

<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-8.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">Our Government recently accounced updates on Rythu Bandhu (AISS)</a>
<div class="post-date">2 Dec 2021</div>
</div>
</div>

<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-2.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">Pudhucheery Govt accounced at from the next year they will prpose new schemes</a>
<div class="post-date">25 Dec 2021</div>
</div>
</div>

<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-3.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">NCGTC(National Credit Guarantee Trustee Company Ltd)</a>
<div class="post-date">5 Jan 2022</div>
</div>
</div>
<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-4.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">Now you can script your food story by using cluster based approach</a>
<div class="post-date">10 Jan 2022</div>
</div>
</div>
<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-5.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">DRDO( Defence Research and Development Organisation) introduces new equipments </a>
<div class="post-date">1 Jan 2022</div>
</div>
</div>
<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-6.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">Digilocker announced that they introduce more ddocuments in their app</a>
<div class="post-date">5 Dec 2021</div>
</div>
</div>
<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-1.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">PMMY(Pradhan Mantri Mundra Yojna) introduce this scheme</a>
<div class="post-date">14 Dec 2021</div>
</div>
</div>
<div class="single-recent-blog style-2 d-flex align-items-center">
<div class="post-thumbnail">
<img src="img/bg-img/farm-7.png" alt="">
</div>
<div class="post-content">
<a href="#" class="post-title">PLIS for developing Global Champions in Food Sector</a>
<div class="post-date">31 Dec 2021</div>
</div>
</div>
</div>
</div>
</div>
</div>
</div>
</section>


<section class="services-area d-flex flex-wrap">

  <div class="services-thumbnail bg-img jarallax" style="background-image: url('img/bg-img/agricultural\ reforms.webp');"></div>
  
  <div class="services-content section-padding-100-50 px-5">
  <div class="container-fluid">
  <div class="row">
  <div class="col-12">
  
  <div class="section-heading">
  <p>Government Reforms</p>
  <h2><span>Follow All</span> Government Reforms</h2>
  <img src="img/core-img/decor.png" alt="">
  </div>
  </div>
  </div>
  <div class="row">
  <div class="col-12 mb-50">
  <p>There are many agricultural reforms took place by government to provide a standard lifestyle to farmers and bring equal socio-economic facilities to them. As India’s agriculture sector remained sort of distress due to natural calamities, failure of monsoon, lack of technology, lack of proper education in terms of farming, which many a times lead to harsh steps taken by farmers in form of life loss.Following are a few Government Reforms for Agriculture Sector</p>
  </div>
  
  <div class="col-12 col-lg-6">
  <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="100ms">
  <h6><span>We Should</span> Follow all the Govt reforms</h6>
  <img src="img/core-img/decor.png" alt="">

  <p>e-Compendium of Published Articles on Farm Reforms Act 2020 </p>
  </div>
  </div>
  
  <div class="col-12 col-lg-6">
  <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="300ms">
    <h6><span>State Government</span> Released Standard Operating Procedure (SoP)</h6>
    <img src="img/core-img/decor.png" alt="">
  
  <p>	Standard Operating Procedure (SoP) for release and use of Grants-in-aid to State Governments </p>
  </div>
  </div>
  
  <div class="col-12 col-lg-6">
  <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="500ms">
    <h6><span>State Government</span> Released Standard Operating Procedure (SoP)</h6>
  
    <img src="img/core-img/decor.png" alt="">
  
  <p>	Central Sector Scheme of Financing Facility under Agriculture Infrastructure Fund </p>
  </div>
  </div>
  
  <div class="col-12 col-lg-6">
  <div class="single-service-area mb-50 wow fadeInUp" data-wow-delay="700ms">
    <h6><span>State Government</span> Released Standard Operating Procedure (SoP)</h6>
  
    <img src="img/core-img/decor.png" alt="">
  
  <p>Clarification regarding Interest Subvention in Central Sector Scheme for financing under Agriculture Infrastructure Fund </p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  


  <section class="our-products-area section-padding-100">
    <div class="container">
    <div class="row">
    <div class="col-12">
    
    <div class="section-heading text-center">
    <p>Government Schemes</p>
    <h2><span>Our Product</span> Are Highest Quality</h2>
    <img src="img/core-img/decor2.png" alt="">
    </div>
    </div>
    </div>
    <div class="row">
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
    
    <div class="product-thumbnail">
    <img src="img/core-img/govt scheme-1.jpg" alt="" class="govt-sc-img">
    </div>
    
    <div class="product-desc text-center pt-4">
    <a href="#" class="product-title">Pradhan Mantri Krishi Sinchai Yojana</a>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
    
    <div class="product-thumbnail">
    <img src="img/core-img/govt scheme-2.jpg" alt="" class="govt-sc-img">
    </div>
    
    <div class="product-desc text-center pt-4">
    <a href="#" class="product-title">Agriculture Infrastructure Fund </a>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
     
    <div class="product-thumbnail">
    <img src="img/core-img/govt scheme-3.jpg" alt="" class="govt-sc-img">
    </div>
    
    <div class="product-desc text-center pt-4">
    <a href="#" class="product-title">PM Kisan Maan Dhan Yojana </a>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="700ms">
    
    <div class="product-thumbnail">
    <img src="img/core-img/govt scheme-4.jpg" alt="" class="govt-sc-img">
    </div>
    
    <div class="product-desc text-center pt-4">
    <a href="#" class="product-title">National Mission on Edible Oils</a>
    </div>
    </div>
    </div>
    </div>

    <div class="row">
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="100ms">
    
    
      <div class="product-thumbnail">
        <img src="img/bg-img/PMFBY.jpg" alt="" class="govt-sc-img">
        </div>
        
        <div class="product-desc text-center pt-4">
        <a href="#" class="product-title">Pradhan Mantri Fasal Bima Yojana</a>
        </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="300ms">
    
    <img src="img/bg-img/pkvy.png" alt="" class="govt-sc-img">
</div>

<div class="product-desc text-center pt-4">
</div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="500ms">
     
    <div class="product-thumbnail">
    <img src="img/bg-img/PM Kisan samman yojna.jpg" alt="" class="govt-sc-img">
    </div>
    
    <div class="product-desc text-center pt-4">
    <a href="#." class="product-title">PM Kisan Samman yojna </a>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="single-product-area mb-50 wow fadeInUp" data-wow-delay="700ms">
    
      <div class="product-thumbnail">
        <img src="img/bg-img/PM-Kisan-mandhan yojna.jpg" alt="" class="govt-sc-img">
        </div>
        
        <div class="product-desc text-center pt-4">
        <a href="#" class="product-title">Pradhan Mantri Kisan mandhan Yogna</a>
        </div>
    </div>
    </div>
    </div>
    </div>
    <div class="row">
    <div class="col-12">
    <div class="gotoshop-btn text-center wow fadeInUp" data-wow-delay="900ms">
    <a href="/govtschemes" class="btn famie-btn">More Schemes</a>
    </div>
    </div>
    </div>
    </div>
    </section>
  
  
<!-- -----nav------> 

  <nav>
    <ul class="pagination wow fadeInUp" data-wow-delay="900ms">
    <li class="page-item active"><a class="page-link" href="#">1</a></li>
    <li class="page-item"><a class="page-link" href="#">2</a></li>
    <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
    </ul>
    </nav>

    <%-include('./partials/footer.ejs')%>
      
    <%-include('./partials/javascript-links.ejs')%>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/farmie/news.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Mar 2021 17:16:33 GMT -->
</html>