
<div class="famie-main-menu">
  <div class="classy-nav-container breakpoint-off">
  <div class="container ">
<nav class="classy-navbar justify-content-between" id="famieNav">
    <a href="/" class="nav-brand"><img src="img/core-img/krishi.jpeg" alt=""></a>
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    <div class="classy-menu">
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    <div class="classynav">
    <ul>
    <li class="active"><a href="/Home_seller">Home</a></li>
    <li><a href="/lab">Lab details</a></li>
    <li><a href="/crop_page">Crop Recommendation</a></li>
    <li><a href="/insurance">Agro Insurance </a></li>
    <li><a href="/transportation">Transportation</a></li>
    <li><a href="/govtschemes">Govt Schemes</a></li>
    <li><a href="/about_us">About us </a></li>
    </ul>
    
    
    <div id="searchIcon">
    <i class="icon_search" aria-hidden="true"></i>
    </div>
    
    <div id="cartIcon">
    <a href="/shop">
    <i class="icon_cart_alt" aria-hidden="true"></i>
    </a>
    </div>
    <div id="logoutIcon"> 
    <a href="/logout">
      <i class="fa fa-sign-out"></i>
    </a>
    </div>
    <a href="/profile">
      <i class="fa fa-user fa-2x" aria-hidden="true"> </i>
    </a>
    </div>
    </div>
    </nav>
    