<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan - Farm Services &amp; Organic Food Store Template | News</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
  <div class="top-header-meta text-right">
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">[email&#160;protected]</span></span></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>
<!----------------------- NAVBAR -------------------------->
<div class="famie-main-menu">
    <div class="classy-nav-container breakpoint-off">
    <div class="container ">
    
    <nav class="classy-navbar justify-content-between" id="famieNav">
    
    <a href="/" class="nav-brand"><img src="img/core-img/krishi.jpeg" alt=""></a>
    
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    
    <div class="classy-menu">
    
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
    <div class="classynav">
    <ul>
    <li class="active"><a href="/Home_consumer">Home</a></li>
    <li><a href="/consumer_feed">Sellers</a>
    </li>
    <li><a href="/consumer_crop_page">Crop Recommendation</a></li>
    <li><a href="/consumer_transportation">Transportation</a></li>
    <li><a href="/consumer_govtschemes">Govt Schemes</a></li>
    <li><a href="/consumer_about_us">About us </a></li>
    </ul>
    
    
    <div id="searchIcon">
    <i class="icon_search" aria-hidden="true"></i>
    </div>
    
    <div id="cartIcon">
    <a href="/consumer_shop">
    <i class="icon_cart_alt" aria-hidden="true"></i>
    </a>
    </div>
    <div id="logoutIcon"> 
    <a href="/logout">
      <i class="fa fa-sign-out"></i>
    </a>
    </div>
    <a href="/profile">
      <i class="fa fa-user fa-2x" aria-hidden="true"> </i>
    </a>
    </div>
    </div>
    </nav>


<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>


<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/Crop_recommendation.jpg');">
    <div class="container h-100">
    <div class="row h-100 align-items-center">
    <div class="col-12">
    <div class="breadcrumb-text">
    <h2>Crop Recommendation</h2>
    </div>
    </div>
    </div>
    </div>
    </div>
    <div class="famie-breadcrumb">
    <div class="container">
    <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
    <li class="breadcrumb-item active" aria-current="page"> <a href="/cropr">Crop Search</a></li>
    </ol>
    </nav>
    </div>
</div>


<div class="container mt-3 p-0 mb-5">
    <div class="row gutters">
        <div class="col-lg-12">
            <div class="card p-4 mt-3">
                
<div class="row">
    <div class="col-6">
        <h3 style="text-align: center;">Do You Want To Analyse Your Crop?</h3>
        <p style="text-align: center;">Click on the card mentioned below</p>
        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./img/bg-img/Gardening-bro.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
                <h1>FEATURE</h1> 
                <p style="margin-top: 35px;">This feature basically helps you to guide from the table that what should be the right parameters to grow which crop</p>
    <a href="/cropa" id="cropbtn" class="btn famie-btn">CROP ANALYSIS</a>

            </div>
          </div>
        </div>
    </div>
    <div class="col-6">
        <h3 style="text-align: center;">Do You Want To Predict Your Crop?</h3>
        <p style="text-align: center;">Click on the card mentioned below</p>

        <div class="flip-card">
          <div class="flip-card-inner">
            <div class="flip-card-front">
              <img src="./img/bg-img/Gardening-cuate.png" alt="Avatar" style="width:300px;height:300px;">
            </div>
            <div class="flip-card-back">
              <h1>FEATURE</h1> 
              <p style="margin-top: 35px;">This features basically help you to analyse which crop is best suitable for you by based on what parameters you enter into it </p>
    <a href="/cropr" id="cropbtn" class="btn famie-btn">CROP PREDICTION</a>
              

            </div>
          </div>
        </div>
    </div>
</div>                      
                                
                <div class="row mt-4 g-1 px-4 my-5 flex">
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn3.iconfinder.com/data/icons/agriculture-outline/160/wheat-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Wheat</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn4.iconfinder.com/data/icons/nuts-14/64/kidney_beans-bean-food_and_restaurant-gastronomy-vegan-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Kidney beans</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn3.iconfinder.com/data/icons/food-set-2-1/91/Food_C167-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Rice</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn2.iconfinder.com/data/icons/fruit-and-vegetable-64/340/corn_food_agriculture_maize_vegetable_grain-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Maize</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn4.iconfinder.com/data/icons/fruits-79/48/04-apple-256.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Apple</span> </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div class="card-inner p-3 d-flex flex-column align-items-center"> <img src="https://cdn3.iconfinder.com/data/icons/food-ingredients-2/50/164-128.png" width="50">
                            <div class="text-center mg-text"> <span class="mg-text">Grapes</span> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    


<!---------------- FOOTER ------------------>
<footer class="footer-area">

    <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(img/bg-img/3.jpg);">
    <div class="container">
    <div class="row">
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <a href="#" class="foo-logo d-block mb-30"><img src="img/core-img/krishi.jpeg" alt=""></a>
    <p>Krishi Vyapaar Vahan, avail all the agriculture services in one place, from selling, buying and getting delivered bulk Agri products with KrishiVyahan.</p>
    <div class="contact-info">
    <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>120 Raymond Rd, New York</span></p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i><span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d2bbbcb4bdfcb6b7b7a0b1a0b7b3a6bba4b792b5bfb3bbbefcb1bdbf">[email&#160;protected]</a></span></p>
    <p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
    </div>
    </div>
    </div> 
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">QUICK LINK</h5>
    
    <nav class="footer-widget-nav">
    <ul>
      <li><a href="#">Home</a></li>
    <li><a href="/lab">Lab Details</a></li>
    <li><a href="/transportation">Transportation</a></li>                  
    <li><a href="/govtschemes">Govt Schemes</a></li>
    <li><a href="/insurance">Agro Insurance</a></li>
    <li><a href="/cropr">Crop Recommendation</a></li>
    <li><a href="#">Partners</a></li>
    <li><a href="#">Guide</a></li>
    <li><a href="#">Standard</a></li>
    <li><a href="#">News</a></li>
    <li><a href="/about_us">About us</a></li>
    </ul>
    </nav>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">RECENT NEWS</h5>
    
    <div class="single-recent-blog d-flex align-items-center">
    <div class="post-thumbnail">
    <img src="img/bg-img/4.jpg" alt="">
    </div>
    <div class="post-content">
    <a href="#" class="post-title">WA’s largest farming business on the market</a>
    <div class="post-date">18 Aug 2022</div>
    </div>
    </div>
    
    <div class="single-recent-blog d-flex align-items-center">
    <div class="post-thumbnail">
    <img src="img/bg-img/5.jpg" alt="">
    </div>
    <div class="post-content">
    <a href="#" class="post-title">Beef retail prices hit a record</a>
    <div class="post-date">18 Aug 2022</div>
     </div>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">STAY CONNECTED</h5>
    
    <div class="footer-social-info">
    <a href="#">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <span>Facebook</span>
    </a>
    <a href="#">
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <span>Instagram</span>
    </a>
    <a href="#">
    <i class="fa fa-google" aria-hidden="true"></i>
    <span>Google</span>
    </a>
    <a href="#">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <span>Twitter</span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="copywrite-area">
    <div class="container">
    <div class="copywrite-text">
    <div class="row align-items-center">
    <div class="col-md-6">
    <p>
    Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Krishi Vyahan</a>
    
    </p>
    </div>
    <div class="col-md-6">
    <div class="footer-nav">
    <nav>
    <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Produce</a></li>
    <li><a href="#">Practice</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>


<!------------------ HERE I LINKED JAVASCRIPT LINKS  ------------>

<script src="js/jquery.min.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/classynav.js"></script>

<script src="js/wow.min.js"></script>

<script src="js/jquery.sticky.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>

<script src="js/jquery.scrollup.min.js"></script>

<script src="js/jarallax.min.js"></script>

<script src="js/jarallax-video.min.js"></script>

<script src="js/active.js"></script>


<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>

</body>
</html>