<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from preview.colorlib.com/theme/farmie/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Mar 2021 17:16:14 GMT -->
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan- Farm Services &amp; Organic Food Store Template | About</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
   <div class="top-header-meta text-right">
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">[email&#160;protected]</span></span></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>

<div class="famie-main-menu">
<div class="classy-nav-container breakpoint-off">
<div class="container">

  <nav class="classy-navbar justify-content-between" id="famieNav">

    <a href="/" class="nav-brand"><img src="img/core-img/krishi.jpeg" alt=""></a>
    
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    
    <div class="classy-menu">
    
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
    <div class="classynav">
        <ul>
        <li class="active"><a href="/Home_consumer">Home</a></li>
        <li><a href="/consumer_feed">Sellers</a>
        </li>
        <li><a href="/consumer_crop_page">Crop Recommendation</a></li>
        <li><a href="/consumer_transportation">Transportation</a></li>
        <li><a href="/consumer_govtschemes">Govt Schemes</a></li>
        <li><a href="/consumer_about_us">About us </a></li>
        </ul>
      
      
      <div id="searchIcon">
      <i class="icon_search" aria-hidden="true"></i>
      </div>
      
      <div id="cartIcon">
      <a href="/consumer_shop">
      <i class="icon_cart_alt" aria-hidden="true"></i>
      </a>
      </div>
      <div id="logoutIcon"> 
      <a href="/logout">
        <i class="fa fa-sign-out"></i>
      </a>
      </div>
      <a href="/profile">
        <i class="fa fa-user fa-2x" aria-hidden="true"> </i>
      </a>
      </div>    
    </div>
    </nav>
  <!-- NAVBAR ENDS HERE -->

<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>


<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/about\ us.jpg');">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="breadcrumb-text">
<h2>About Us</h2>
</div>
</div>
</div>
</div>
</div>
<div class="famie-breadcrumb">
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="/about_us"></a> About us</li>
</ol>
</nav>
</div>
</div>


<section class="famie-benefits-area pb-5">
<div class="container">
<div class="row">
<div class="col-12">
<div class="benefits-thumbnail mb-50">
<img src="img/bg-img/about us-2.jpg" alt="">
</div>
</div>
</div>
<div class="row justify-content-center">

<div class="col-12 col-sm-4 col-lg">
<div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="100ms">
<img src="img/core-img/digger.png" alt="">
<h5>Best Services</h5>
</div>
</div>

<div class="col-12 col-sm-4 col-lg">
<div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="300ms">
<img src="img/core-img/windmill.png" alt="">
<h5>Farm Experiences</h5>
</div>
</div>

<div class="col-12 col-sm-4 col-lg">
<div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="500ms">
<img src="img/core-img/cereals.png" alt="">
<h5>100% Natural</h5>
</div>
</div>

<div class="col-12 col-sm-4 col-lg">
<div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="700ms">
<img src="img/core-img/tractor.png" alt="">
<h5>Farm Equipment</h5>
</div>
</div>

<div class="col-12 col-sm-4 col-lg">
<div class="single-benefits-area wow fadeInUp mb-50" data-wow-delay="900ms">
<img src="img/core-img/sunrise.png" alt="">
<h5>Organic food</h5>
</div>
</div>
</div>
</div>
</section>


<section class="about-us-area p-15">
<div class="container">
<div class="row align-items-center">

<div class="col-12 col-md-8">
<div class="about-us-content mb-100">

<div class="section-heading">
<p>About us</p>
<h2><span>Let Us</span> Tell You Our Story</h2>
<img src="img/core-img/decor.png" alt="">
</div>
<p>Agriculture, with its associated sectors, is unquestionably the largest livelihood provider in India, more so in the vast rural areas. It also contributes a significant figure to the Gross Domestic Product (GDP). Sustainable agriculture, in terms of food security, rural employment, and environmentally sustainable technologies such as soil conservation, sustainable natural resource management and biodiversity protection, are essential for holistic rural development. Indian agriculture and allied activities have witnessed a green revolution, a white revolution, a yellow revolution and a blue revolution.</p>
  <p>
  KrishiVyahan is a way to connect all the basic required services for a farmer in one place. Uniting the Agri consumer, the seller (Krishi Vyapaar) and transport (Vahan). The seller and consumer need not worry about the crop shipment with the Transport details provided on KrishiVyahan. Besides the crop trade, a farmer gets the facility to get the soil tested, farming insurance details, and an online shop to buy everything for a crop from seeds, fertilizers, pesticides to farm machinery at reasonable rates. Moreover, krishiVyahan keeps you updated with the latest government schemes.
  </p>
<a href="#" class="btn famie-btn mt-30">Read More</a>
</div>
</div>

<div class="col-12 col-md-4">
<div class="famie-video-play mb-100">
<img src="img/bg-img/6.jpg" alt="">

<a href="https://www.youtube.com/watch?v=7HKoqNJtMTQ" class="play-icon"><i class="fa fa-play"></i></a>
</div>
</div>
</div>
</div>
</section>

<section class="testimonial-area bg-img bg-overlay section-padding-100 jarallax" style="background-image: url('img/bg-img/15.jpg');">
  
<div class="container">
  <div class="container">
    <div class="row justify-content-center">
    <div class="col-12 col-lg-10">
    <div class="Features-content">
    
    <div class="section-heading white text-center">
    <p>Features</p>
    <h2><span>Our app</span> Connects You With Customers</h2>
    <img src="img/core-img/decor2.png" alt="">
    </div>
    </div>
    </div>
    </div>
<div class="row">
<div class="col-12">

<div class="testimonial-slides owl-carousel">

<div class="single-slide">

<div class="testi-text d-flex">
  
<div class="quote-icon">
<img src="img/core-img/quote.png" alt="">
</div>
<h5>KrishiVyahan is a way to connect all the basic required services for a farmer in one place. Uniting the Agri consumer, the seller (Krishi Vyapaar) and transport (Vahan). The seller and consumer need not worry about the crop shipment with the Transport details provided on KrishiVyahan. Besides the crop trade, a farmer gets the facility to get the soil tested, farming insurance details, and an online shop to buy everything for a crop from seeds, fertilizers, pesticides to farm machinery at reasonable rates. Moreover, krishiVyahan keeps you updated with the latest government schemes.</h5>
</div>

<div class="testimonial-thumbnail-name d-flex align-items-center">
<div class="testimonial-thumbnail">
<img src="img/bg-img/16.jpg" alt="">
</div>
<div class="testimonial-name">
<h5>Mrs Lara Sullivan</h5>
<h6>Customer</h6>
</div>
</div>
</div>


</div>
</div>
</div>
</div>
</section>

</section>

<section class="contact-area section-padding-100-0">
<div class="container">
<div class="row justify-content-between">

<div class="col-12 col-lg-5">
<div class="contact-content mb-100">

<div class="section-heading">
<p>Contact now</p>
<h2><span>Get In Touch</span> With Us</h2>
<img src="img/core-img/decor.png" alt="">
</div>

<div class="contact-form-area">
<form action="#" method="post">
<div class="row">
<div class="col-lg-6">
<input type="text" class="form-control" name="name" placeholder="Your Name" required>
</div>
<div class="col-lg-6">
<input type="email" class="form-control" name="email" placeholder="Your Email"required >
</div>
<div class="col-12">
<input type="text" class="form-control" name="subject" placeholder="Your Subject" required>
</div>
<div class="col-12">
<textarea name="message" class="form-control" cols="30" rows="10" placeholder="Your Message" required></textarea>
</div>
<div class="col-12">
<button type="submit" class="btn famie-btn">Send Message</button>
</div>
</div>
</form>
</div>
</div>
</div>

<div class="col-lg-6">
<div class="contact-maps mb-100">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28313.28917392649!2d-88.2740948914384!3d41.76219337461615!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880efa1199df6109%3A0x8a1293b2ae8e0497!2sE+New+York+St%2C+Aurora%2C+IL%2C+USA!5e0!3m2!1sen!2sbd!4v1542893000723" allowfullscreen></iframe>
</div>
</div>
</div>
</div>
</section>


<footer class="footer-area">

  <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(img/bg-img/3.jpg);">
  <div class="container">
  <div class="row">
  
  <div class="col-12 col-sm-6 col-lg-3">
  <div class="footer-widget mb-80">
  <a href="#" class="foo-logo d-block mb-30"><img src="img/core-img/krishi.jpeg" alt=""></a>
  <p>Krishi Vyapaar Vahan, avail all the agriculture services in one place, from selling, buying and getting delivered bulk Agri products with KrishiVyahan.</p>
  <div class="contact-info">
  <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>120 Raymond Rd, New York</span></p>
  <p><i class="fa fa-envelope" aria-hidden="true"></i><span><a href="#" class="__cf_email__" data-cfemail="d2bbbcb4bdfcb6b7b7a0b1a0b7b3a6bba4b792b5bfb3bbbefcb1bdbf">[email&#160;protected]</a></span></p>
  <p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
  </div>
  </div>
  </div> 
  
  <div class="col-12 col-sm-6 col-lg-3">
  <div class="footer-widget mb-80">
  <h5 class="widget-title">QUICK LINK</h5>
  
  <nav class="footer-widget-nav">
  <ul>
    <li><a href="#">Home</a></li>
  <li><a href="/lab">Lab Details</a></li>
  <li><a href="/transportation">Transportation</a></li>                  
  <li><a href="/govtschemes">Govt Schemes</a></li>
  <li><a href="/insurance">Agro Insurance</a></li>
  <li><a href="/cropr">Crop Recommendation</a></li>
  <li><a href="#">Partners</a></li>
  <li><a href="#">Guide</a></li>
  <li><a href="#">Standard</a></li>
  <li><a href="#">News</a></li>
  <li><a href="/about_us">About us</a></li>
  </ul>
  </nav>
  </div>
  </div>
  
  <div class="col-12 col-sm-6 col-lg-3">
  <div class="footer-widget mb-80">
  <h5 class="widget-title">RECENT NEWS</h5>
  
  <div class="single-recent-blog d-flex align-items-center">
  <div class="post-thumbnail">
  <img src="img/bg-img/4.jpg" alt="">
  </div>
  <div class="post-content">
  <a href="#" class="post-title">WA’s largest farming business on the market</a>
  <div class="post-date">18 Aug 2022</div>
  </div>
  </div>
  
  <div class="single-recent-blog d-flex align-items-center">
  <div class="post-thumbnail">
  <img src="img/bg-img/5.jpg" alt="">
  </div>
  <div class="post-content">
  <a href="#" class="post-title">Beef retail prices hit a record</a>
  <div class="post-date">18 Aug 2022</div>
   </div>
  </div>
  </div>
  </div>
  
  <div class="col-12 col-sm-6 col-lg-3">
  <div class="footer-widget mb-80">
  <h5 class="widget-title">STAY CONNECTED</h5>
  
  <div class="footer-social-info">
  <a href="#">
  <i class="fa fa-facebook" aria-hidden="true"></i>
  <span>Facebook</span>
  </a>
  <a href="#">
  <i class="fa fa-instagram" aria-hidden="true"></i>
  <span>Instagram</span>
  </a>
  <a href="#">
  <i class="fa fa-google" aria-hidden="true"></i>
  <span>Google</span>
  </a>
  <a href="#">
  <i class="fa fa-twitter" aria-hidden="true"></i>
  <span>Twitter</span>
  </a>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  
  <div class="copywrite-area">
  <div class="container">
  <div class="copywrite-text">
  <div class="row align-items-center">
  <div class="col-md-6">
  <p>
  Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Krishi Vyahan</a>
  
  </p>
  </div>
  <div class="col-md-6">
  <div class="footer-nav">
  <nav>
  <ul>
  <li><a href="#">About</a></li>
  <li><a href="#">Produce</a></li>
  <li><a href="#">Practice</a></li>
  <li><a href="#">Products</a></li>
  <li><a href="#">News</a></li>
  <li><a href="#">Contact</a></li>
  </ul>
  </nav>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </footer>



<script src="js/jquery.min.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/classynav.js"></script>

<script src="js/wow.min.js"></script>

<script src="js/jquery.sticky.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>

<script src="js/jquery.scrollup.min.js"></script>

<script src="js/jarallax.min.js"></script>

<script src="js/jarallax-video.min.js"></script>

<script src="js/active.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/farmie/about.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Mar 2021 17:16:15 GMT -->
</html>