<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="description" content="">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


<title>Krishi Vyahan - Farm Services &amp; Organic Food Store Template | News</title>

<link rel="icon" href="img/core-img/favicon.jpg">
<link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
<link rel="stylesheet" href="style.css">
</head>
<body>

<div class="preloader d-flex align-items-center justify-content-center">
<div class="spinner"></div>
</div>

<header class="header-area">

<div class="top-header-area">
<div class="container">
<div class="row">
<div class="col-12">
<div class="top-header-content d-flex align-items-center justify-content-between">

<div class="top-header-meta">
<p>Welcome to <span>Krishi Vyahan</span>, we hope you will enjoy our products and have good experience</p>
</div>

<div class="top-header-meta text-right">
  <div class="top-header-meta text-right">
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="infodeercreative@gmail.com"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span>Email: <span class="__cf_email__" data-cfemail="8ae3e4ece5eeefeff8e9f8efebfee3fcefcaede7ebe3e6a4e9e5e7">[email&#160;protected]</span></span></a>
    <a href="#" data-toggle="tooltip" data-placement="bottom" title="+1 234 122 122"><i class="fa fa-phone" aria-hidden="true"></i> <span>Call Us: +84 223 9000</span></a>
    </div>
</div>
</div>
</div>
</div>
</div>
</div>


<div class="famie-main-menu">
    <div class="classy-nav-container breakpoint-off">
    <div class="container ">
    
    <nav class="classy-navbar justify-content-between" id="famieNav">
    
    <a href="/" class="nav-brand"><img src="img/core-img/krishi.jpeg" alt=""></a>
    
    <div class="classy-navbar-toggler">
    <span class="navbarToggler"><span></span><span></span><span></span></span>
    </div>
    
    <div class="classy-menu">
    
    <div class="classycloseIcon">
    <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
    </div>
    
    <div class="classynav">
    <ul>
    <li class="active"><a href="/Home_consumer">Home</a></li>
    <li><a href="/consumer_feed">Sellers</a>
    </li>
    <li><a href="/consumer_transportation">Transportation</a></li>
    <li><a href="/consumer_govtschemes">Govt Schemes</a></li>
    <li><a href="/consumer_about_us">About us </a></li>
    </ul>
    
    
    <div id="searchIcon">
    <i class="icon_search" aria-hidden="true"></i>
    </div>
    
    <div id="cartIcon">
    <a href="/consumer_shop">
    <i class="icon_cart_alt" aria-hidden="true"></i>
    </a>
    </div>
    <div id="logoutIcon"> 
    <a href="/logout">
      <i class="fa fa-sign-out"></i>
    </a>
    </div>
    <a href="#">
      <i class="fa fa-user fa-2x" aria-hidden="true"> </i>
    </a>
    </div>
    </div>
    </nav>


<div class="search-form">
<form action="#" method="get">
<input type="search" name="search" id="search" placeholder="Type keywords &amp; press enter...">
<button type="submit" class="d-none"></button>
</form>

<div class="closeIcon"><i class="fa fa-times" aria-hidden="true"></i></div>
</div>
</div>
</div>
</div>
</header>

<div class="breadcrumb-area bg-img bg-overlay jarallax" style="background-image: url('img/bg-img/shop.jpg');">
<div class="container h-100">
<div class="row h-100 align-items-center">
<div class="col-12">
<div class="breadcrumb-text">
<h2>Shop</h2>
</div>
</div>
</div>
</div>
</div>
<div class="famie-breadcrumb">
<div class="container">
<nav aria-label="breadcrumb">
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="/"><i class="fa fa-home"></i> Home</a></li>
<li class="breadcrumb-item active" aria-current="page"><a href="/shop"></a> Shop</li>
</ol>
</nav>
</div>
</div>


<section class="shop-area section-padding-0-100">
<div class="container">
<div class="row">

<div class="col-12">
<div class="shop-filters mb-30 d-flex align-items-center justify-content-between">

<div class="product-show">
<h6>Showing 1–9 of 72 results</h6>
</div>

<div class="produtc-view-mode">
<a href="#"><i class="fa fa-th"></i></a>
<a href="#"><i class="fa fa-list-ul"></i></a>
</div>
</div>
</div>
</div>
<div class="row">

<div class="col-12 col-md-4 col-lg-3">

<div class="shopping-cart mb-50">
<h5 class="mb-30">Shopping Cart</h5>

<div class="cart-table clearfix">
<table class="table table-responsive">

<tbody>

<tr>
<td class="cart_product_img">
<a href="#"><img src="img/bg-img/weeder.jpg" alt="Product"></a>
</td>
<td class="cart_product_desc">
<p>Earth Weeder</p>
<h6>1 x Rs 500</h6>
</td>
<td class="pro-close">
<a href="#"><i class="icon_close"></i></a>
</td>
</tr>

<tr>
<td class="cart_product_img">
<a href="#"><img src="img/bg-img/Earth_auger.jpg" alt="Product"></a>
</td>
<td class="cart_product_desc">
<p>Earth Auger</p>
<h6>1 x Rs 650</h6>
</td>
<td class="pro-close">
<a href="#"><i class="icon_close"></i></a>
</td>
</tr>

<tr>
<td class="cart_product_img">
<a href="#"><img src="img/bg-img/Axle-Gun.jpg" alt="Product"></a>
</td>
<td class="cart_product_desc">
<p>Axle Gun</p>
<h6>1 x Rs 1000</h6>
</td>
<td class="pro-close">
<a href="#"><i class="icon_close"></i></a>
</td>
</tr>
</tbody>
</table>
</div>

<div class="cart-summary d-flex align-items-center justify-content-between">
<div class="sub-total">
<h6>SUBTOTAL</h6>
</div>
<div class="total-price">
<h6>Rs 2150</h6>
</div>
</div>

<a href="#" class="btn famie-btn checkout-btn mt-30 w-100">Checkout</a>
</div>

<div class="single-widget-area">

<h5 class="widget-title">Catagories</h5>

<ul class="cata-list shop-page">
<li><a href="#">All products (72)</a></li>
<li><a href="#">Seeds (20)</a></li>
<li><a href="#">Fertilizers (15)</a></li>
<li><a href="#">Pesticides (20)</a></li>
<li><a href="#">Tools (15)</a></li>
<li><a href="#">Others (10)</a></li>
</ul>
</div>

<div class="single-widget-area">

<h5 class="widget-title">Sort by</h5>

<ul class="cata-list shop-page">
  <li><a href="#">New arrivals</a></li>
<li><a href="#">Top rated</a></li>
<li><a href="#">Season Wise</a></li>
<li><a href="#">Alphabetically, A-Z</a></li>
<li><a href="#">Alphabetically, Z-A</a></li>
<li><a href="#">Price: low to high</a></li>
<li><a href="#">Price: high to low</a></li>
</ul>
</div>

<div class="single-widget-area">

<h5 class="widget-title">Price</h5>

<ul class="cata-list shop-page">
<li><a href="#">$0.00 - $10.00</a></li>
<li><a href="#">$10.00 - $50.00</a></li>
<li><a href="#">$50.00 - $100.00</a></li>
<li><a href="#">$100.00+</a></li>
</ul>
</div>

<div class="single-widget-area">

<h5 class="widget-title">Tags</h5>

<ul class="famie-tags">
<li><a href="#">All product</a></li>
<li><a href="#">Seeds</a></li>
<li><a href="#">Organic</a></li>
<li><a href="#">Inorganic</a></li>
<li><a href="#">Sythetic</a></li>
<li><a href="#">Agriculture</a></li>
<li><a href="#">Farmers</a></li>
</ul>
</div>
</div>

<div class="col-12 col-md-8 col-lg-9">
<div class="row">
  <%for(var i=0;i<data.length;i++){%>
<div class="col-12 col-sm-6 col-lg-4">
<div class="product mb-50">
  <div class="wow fadeInUp" data-wow-delay:="300ms">
<div class="thumbnail">
<img src="<%=data[i].item_image%>" alt="">
</div>

</div>
<div class="desc text-center pt-4 " style="background-color: #77b122;">
    <h3><%=data[i].price%></h3>
    <div class="wow fadeInUp" data-wow-delay:="300ms">
     <h6><%=data[i].item_name%></h6>
   </div>
    <div class="wow fadeInUp" data-wow-delay:="300ms">
      <h6><span id="contact"> Quantity:</span> <%=data[i].quantity%></h6>
   </div>
</div>
</div>
</div>
<%}%>
</div>

<nav>
<ul class="pagination mb-0 mt-50">
<li class="page-item active"><a class="page-link" href="#">1</a></li>
<li class="page-item"><a class="page-link" href="#">2</a></li>
<li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right"></i></a></li>
</ul>
</nav>
</div>
</div>
</div>
</section>

<footer class="footer-area">

    <div class="main-footer bg-img bg-overlay section-padding-80-0" style="background-image: url(img/bg-img/3.jpg);">
    <div class="container">
    <div class="row">
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <a href="#" class="foo-logo d-block mb-30"><img src="img/core-img/krishi.jpeg" alt=""></a>
    <p>Krishi Vyapaar Vahan, avail all the agriculture services in one place, from selling, buying and getting delivered bulk Agri products with KrishiVyahan.</p>
    <div class="contact-info">
    <p><i class="fa fa-map-pin" aria-hidden="true"></i><span>120 Raymond Rd, New Delhi</span></p>
    <p><i class="fa fa-envelope" aria-hidden="true"></i><span><a href="https://preview.colorlib.com/cdn-cgi/l/email-protection" class="__cf_email__" data-cfemail="d2bbbcb4bdfcb6b7b7a0b1a0b7b3a6bba4b792b5bfb3bbbefcb1bdbf">[email&#160;protected]</a></span></p>
    <p><i class="fa fa-phone" aria-hidden="true"></i><span>+84 223 9000</span></p>
    </div>
    </div>
    </div> 
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">QUICK LINK</h5>
    
    <nav class="footer-widget-nav">
    <ul>
      <li><a href="#">Home</a></li>
    <li><a href="/lab">Lab Details</a></li>
    <li><a href="/transportation">Transportation</a></li>                  
    <li><a href="/govtschemes">Govt Schemes</a></li>
    <li><a href="/insurance">Agro Insurance</a></li>
    <li><a href="/cropr">Crop Recommendation</a></li>
    <li><a href="#">Partners</a></li>
    <li><a href="#">Guide</a></li>
    <li><a href="#">Standard</a></li>
    <li><a href="#">News</a></li>
    <li><a href="/about_us">About us</a></li>
    </ul>
    </nav>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">RECENT NEWS</h5>
    
    <div class="single-recent-blog d-flex align-items-center">
    <div class="post-thumbnail">
    <img src="img/bg-img/4.jpg" alt="">
    </div>
    <div class="post-content">
    <a href="#" class="post-title">WA’s largest farming business on the market</a>
    <div class="post-date">18 Aug 2022</div>
    </div>
    </div>
    
    <div class="single-recent-blog d-flex align-items-center">
    <div class="post-thumbnail">
    <img src="img/bg-img/5.jpg" alt="">
    </div>
    <div class="post-content">
    <a href="#" class="post-title">Beef retail prices hit a record</a>
    <div class="post-date">18 Aug 2022</div>
     </div>
    </div>
    </div>
    </div>
    
    <div class="col-12 col-sm-6 col-lg-3">
    <div class="footer-widget mb-80">
    <h5 class="widget-title">STAY CONNECTED</h5>
    
    <div class="footer-social-info">
    <a href="#">
    <i class="fa fa-facebook" aria-hidden="true"></i>
    <span>Facebook</span>
    </a>
    <a href="#">
    <i class="fa fa-instagram" aria-hidden="true"></i>
    <span>Instagram</span>
    </a>
    <a href="#">
    <i class="fa fa-google" aria-hidden="true"></i>
    <span>Google</span>
    </a>
    <a href="#">
    <i class="fa fa-twitter" aria-hidden="true"></i>
    <span>Twitter</span>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    
    <div class="copywrite-area">
    <div class="container">
    <div class="copywrite-text">
    <div class="row align-items-center">
    <div class="col-md-6">
    <p>
    Copyright &copy;<script data-cfasync="false" src="../../cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made by <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="#">Krishi Vyahan</a>
    
    </p>
    </div>
    <div class="col-md-6">
    <div class="footer-nav">
    <nav>
    <ul>
    <li><a href="#">About</a></li>
    <li><a href="#">Produce</a></li>
    <li><a href="#">Practice</a></li>
    <li><a href="#">Products</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Contact</a></li>
    </ul>
    </nav>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </footer>


    
<script src="js/jquery.min.js"></script>

<script src="js/popper.min.js"></script>

<script src="js/bootstrap.min.js"></script>

<script src="js/owl.carousel.min.js"></script>

<script src="js/classynav.js"></script>

<script src="js/wow.min.js"></script>

<script src="js/jquery.sticky.js"></script>

<script src="js/jquery.magnific-popup.min.js"></script>

<script src="js/jquery.scrollup.min.js"></script>

<script src="js/jarallax.min.js"></script>

<script src="js/jarallax-video.min.js"></script>

<script src="js/active.js"></script>

<script async src="https://www.googletagmanager.com/gtag/js?id=UA-23581568-13"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-23581568-13');
</script>
</body>

<!-- Mirrored from preview.colorlib.com/theme/farmie/shop.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 01 Mar 2021 17:16:19 GMT -->
</html>